<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
    <body>
        <h1 class='pagetitle'><%= title %></h1>
        <ul class='content'>
            <% skills.forEach(skill => { %>
                <li>
                    <a href="./skills/<%=skill.skill%>"><%= skill.skill %></a>
                    -
                    <%= skill.covered %>
                </li>
            <% }) %>
        </ul> 
    </body>
</html>